.DarkLanding {
  min-height: 100vh;
  background-color: #231f20;
}

.BrightLanding {
  min-height: 100vh;
  background-color: white;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  width: 100%;
  align-items: center;
}

.heroSection img {
  width: 55%;
  z-index: 2;
}

.span1,
.span2 {
  font-size: 6rem;
  text-align: left;
  display: block;
  margin-top: -40px;
  line-height: 1;
}

.span1 {
  color: white;
  font-size: 8rem;
  font-family: "Londrina Solid", cursive;
}

.span2 {
  color: #d00024;
  font-family: "Sedgwick Ave", cursive;
}

.dish ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: linear-gradient(90deg, #d00024 90%, transparent 10%);
  z-index: 1000;
  padding: 30px 50px;
  margin-top: 30px;
  width: 130%;
  font-size: 1.5rem;
}

.dish ul li:nth-child(4),
.dish ul li:nth-child(5) {
  list-style: none;
}

.dish {
  text-align: left;
  z-index: 1000;
  width: 45%;
}

.circle {
  border-radius: 50%;
  background-color: white;
  color: #d00024;
  font-size: 5rem;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.price {
  font-size: 3.7rem;
  font-weight: lighter;
  font-weight: bold;
  font-family: "Londrina Solid", cursive;
}

.circle1 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../../Images/ring1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  width: 700px;
}

.circle2 {
  position: absolute;
  right: 410px;
  top: -50px;
  background-image: url(../../Images/ring2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  width: 400px;
  transform: rotate(-12deg);
}

@media screen and (max-width: 1430px) {
  .DarkLanding,
  .BrightLanding {
    min-height: auto;
  }

  .circle1 {
    left: -170px;
    height: 400px;
    bottom: 100px;
  }

  .circle2 {
    width: 300px;
  }

  .heroSection {
    padding-left: 5%;
  }

  .dish ul {
    background-image: linear-gradient(90deg, #d00024 88%, transparent 12%);
  }
}

@media screen and (max-width: 1290px) {
  .span1,
  .span2 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .circle1 {
    left: -200px;
    bottom: 150px;
  }

  .circle2 {
    right: 120px;
  }

  .price {
    font-size: 3rem;
  }

  .dish ul {
    font-size: 1.2rem;
    padding: 15px 20px;
    list-style-type: none;
    background-image: linear-gradient(90deg, #d00024 92%, transparent 8%);
  }

  .circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1080px) {
  .span1,
  .span2 {
    font-size: 4rem;
  }

  .price {
    font-size: 3rem;
  }

  .circle2 {
    top: -150px;
  }
  .circle1 {
    bottom: 200px;
  }

  .dish ul {
    font-size: 1.2rem;
    padding: 15px 20px;
    list-style-type: none;
  }
}

@media screen and (max-width: 851px) {
  .span1,
  .span2 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .circle1,
  .circle2 {
    display: none;
  }

  .price {
    font-size: 2rem;
  }

  .dish ul {
    font-size: 1rem;
    padding: 15px 20px;
    list-style-type: none;
    background-image: linear-gradient(90deg, #d00024 88%, transparent 12%);
  }
}

@media screen and (max-width: 640px) {
  .heroSection {
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 0;
    align-items: center;
  }

  .heroSection img {
    width: 100%;
    z-index: 2;
  }

  .span1,
  .span2 {
    padding-left: 12px;
  }

  .dish ul {
    width: 100%;
    background-color: #d00024;
  }

  .dish {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
  }

  .price {
    font-size: 1.2rem;
  }

  .dish ul {
    padding: 0 5px;
  }
}
